@model IMDB.Models.Film

@{
    ViewBag.Title = "Edit Film";
}

<h1>Edit Film</h1>

<section>
    <div>

        @using (Html.BeginForm("Edit", "Film", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <label for="name">Name</label>
            <input type="text" id="name" value="@Model.Name" name="name" required="required">
            <label for="genre">Genre</label>
            <input type="text" id="genre" value="@Model.Genre" name="genre" required="required">
            <label for="director">Director</label>
            <input type="text" id="director" value="@Model.Director" name="director" required="required">
            <label for="year">Year</label>
            <input type="number" id="year" value="@Model.Year" name="year" required="required">
            <button type="submit" class="accept">Edit</button>
            <button onclick="location.href='/';return false;" class="cancel">Cancel</button>
        }

    </div>
</section>