<h1>Edit Film</h1>
<section>
    <form action="/edit/{{id}}" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" value="{{name}}" name="name" required="required"/>
            <label for="genre">Genre</label>
            <input type="text" id="genre" value="{{genre}}" name="genre" required="required"/>
            <label for="director">Director</label>
            <input type="text" id="director" value="{{director}}" name="director" required="required"/>
            <label for="year">Year</label>
            <input type="number" id="year" value="{{year}}" name="year" required="required"/>
            <button type="submit" class="accept">Edit</button>
            <button type="button" class="cancel" onclick="location.href='/'">Cancel</button>
        </div>
    </form>
</section>